/* navbar left */
.navbar__main{
    position: fixed;



    top: 0;
    border-bottom: 1px solid #B0B3B8;
    background-color: #F6F7F9;
    /* color: #B0B3B8; */
}

.navbar__leftBar{
    display: flex;
}

.navbar__logo{
    margin: 8px 10px 8px 16px;
}

.navbar__search{
    height: 40px;
    width: 190px;
    border-radius: 25px;
    border: 0px;
    background-color: #A7A9AE ;
    font-size: 16px;
    padding-left: 30px;
    margin-top: 8px;
}


/* navbar middle */
.navbar__container{
    display: flex;
    margin-top: 10px;
    /* margin-left: auto; */
    max-width: 600px !important;
    margin: auto;
    padding-top: 10px;
}
.navbar__tabs{
    width: 120px;
    height: 45px;
    /* margin: auto; */
}
.navbar__tabs.active{
    border-bottom: 3px solid #2374E1;
}

/* navbar right */

.navbar__rightcontainer{
    float: right;
    margin-right: 20px;
}
.navbar__righttab{
    display: flex;
    margin-left: 40px;
    margin-right: 10px;
}
.navbar__rightbutton{
    color: black;
    margin-top: 5px;
    margin-left: 30px;
    margin-right: 16px;
}

.navbar__rightimg{
    margin-top: 10px;
    margin-right: 10px;
    max-width: 30px;
    max-height: 30px;
}
.navbar__profilename{
    color: black;
    margin-top: 15px;
    font-weight:600;
}