.upload__container{
    height: 120px;
    width: 600px;
    border-radius: 15px;
}

.upload__top{
    display: flex;
}

.upload__img{
    margin-top: 15px;
    margin-left: 15px;
}

.upload__box{
    height: 40px;
    width: 480px;
    border: 0px;
    background-color: #eff2f5;
    border-radius: 30px;
    font-size: 16px;
    padding-left: 20px; 
    margin: 15px;
}

.upload__bottom{
    border-top: 1px solid #E3E6EA;
    display: flex;
    margin-left: 60px;
    padding-top: 5px;
}

.upload__tabs{
    width: 150px;
    display: flex;
}

.upload__text{
    margin: 5px;
}