.mainpage__container{
    height: 650px;

    color: #B0B3B8;
}

.imagelayout__container{
    display: flex;
    margin: 15px;
}


.imagelayout__img{
    max-width: 35px;
    max-height: 35px;
}

.imagelayout__text{
    font-weight: 500;
    margin: 10px;
    font-size: 14px;
}

.middleContainer{
    margin-left: 160px !important;
    overflow-y: scroll;
    height: 1000px;
    max-width: 600px !important;
}
